<launch>
  <arg name="machine" />
  
  <param name="robot_description" textfile="$(find stretch_description)/urdf/stretch.urdf" />
  <!-- This should be the controller_calibration_head.yaml file path on Stretch machine -->
  <arg name="calibrated_controller_yaml_file" value="/home/hello-robot/catkin_ws/src/stretch_ros/stretch_core/config/controller_calibration_head.yaml"/>
  <arg name="mode" default="position" />
  
  <node
      name="joint_state_publisher"
      pkg="joint_state_publisher"
      type="joint_state_publisher"
      machine="$(arg machine)" >
    <param name="rate" value="15.0"/>
    <rosparam param="source_list">
      [/stretch/joint_states]
    </rosparam>
  </node>
  
  <node
      name="robot_state_publisher"
      pkg="robot_state_publisher"
      type="robot_state_publisher"
      machine="$(arg machine)" >
    <param name="publish_frequency" value="15.0"/>
  </node>

  <node name="stretch_driver" pkg="stretch_core" type="stretch_driver" output="screen" machine="$(arg machine)" >
    <param name="rate" type="double" value="25.0"/>
    <param name="timeout" type="double" value="0.5"/>
    <remap from="cmd_vel" to="/stretch/cmd_vel" />
    <remap from="joint_states" to="/stretch/joint_states" />
    <param name="controller_calibration_file" type="string" value="$(arg calibrated_controller_yaml_file)"/>
    <param name="mode" type="string" value="$(arg mode)" />
  </node>  
</launch>
