<launch>
    <!-- Load the stretch urdf into parameter server-->
    <param name="robot_description" command="$(find xacro)/xacro '$(find stretch_nav_sim)/urdf/stretch.xacro'" />

    <!-- Start joint state publisher-->
    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

    <!-- Start robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Start Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find stretch_nav_sim)/rviz/stretch.rviz" />

</launch>