<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stretch_arm_l0">

    <!-- ================= Arm L0 ================= -->
    <!-- Arm l0 Link -->
    <link name="link_arm_l0">
        <inertial>
            <origin
                xyz="0.0230715049668191 -0.00195115833662818 -0.0360646347160285"
                rpy="0 0 0"/>
            <mass value="0.101241250325294"/>
            <inertia
                ixx="0.000227156999010352"
                ixy="8.90680620109423E-06"
                ixz="-7.91132210985695E-05"
                iyy="0.000300732790537324"
                iyz="7.21771824540896E-06"
                izz="9.35784422621597E-05" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh
                    filename="package://stretch_description/meshes/link_arm_l0.STL" />
            </geometry>
            <material name="">
                <color
                    rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
            </material>
        </visual>
        <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                    filename="package://stretch_description/meshes/link_arm_l0.STL" />
            </geometry>
        </collision>
    </link>

    <!-- Arm l0 Joint -->
    <!-- Change to prismatic -->
    <joint name="joint_arm_l0" type="fixed">
        <origin
            xyz="0 0 -0.0137499999999938"
            rpy="-3.05317390622457E-16 -4.23236224076729E-16 -2.68425135229209E-17"/>
        <parent link="link_arm_l1" />
        <child link="link_arm_l0" />
        <axis xyz="0 0 1"/>
        <!-- <limit effort="100" lower="0.0" upper="0.13" velocity="1.0"/> -->
    </joint>

    <!-- Arm l0 Transmission block for gazebo -->
    <!-- <transmission name="trans_arm_l0" type="SimpleTransmission">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="arm_l0_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="joint_arm_l0">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
    </transmission> -->


</robot>