<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stretch_wrist">

    <!-- ================= Wrist ================= -->
    <!-- Wrist Link -->
    <link name="link_wrist_yaw">
        <inertial>
            <origin
                xyz="-8.02795716750571E-06 1.93811447768422E-05 0.018946700595851"
                rpy="0 0 0"/>
            <mass value="0.0405398981326229"/>
            <inertia
                ixx="2.20062857967227E-09"
                ixy="1.15494401227051E-13"
                ixz="1.02598056874346E-11"
                iyy="2.20039759185237E-09"
                iyz="-2.47692875363392E-11"
                izz="3.26666802416509E-13" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh
                    filename="package://stretch_description/meshes/link_wrist_yaw.STL" />
            </geometry>
            <material name="">
                <color
                    rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
            </material>
        </visual>
        <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                    filename="package://stretch_description/meshes/link_wrist_yaw.STL" />
            </geometry>
        </collision>
    </link>

    <!-- Wrist Joint -->
    <!-- Change to revolute -->
    <joint name="joint_wrist_yaw" type="fixed">
        <origin
            xyz="0.083 -0.03075 0"
            rpy="1.5708 4.2595E-14 2.6415E-15"/>
        <parent link="link_arm_l0" />
        <child link="link_wrist_yaw" />
        <axis xyz="0 0 -1"/>
        <!-- <limit effort="100" lower="-1.75" upper="4.0" velocity="1.0"/> -->
    </joint>

    <!-- Wrist Transmission block for gazebo -->
    <!-- <transmission name="trans_wrist_yaw" type="SimpleTransmission">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="wrist_yaw_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="joint_wrist_yaw">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
    </transmission> -->

</robot>