<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stretch_base">

    <!-- Base Link -->
    <link name="base_link">
        <inertial>
            <origin
                xyz="-0.109461304328163 -0.000741018909047708 0.0914915269429946"
                rpy="0 0 0"/>
            <mass value="1.0723782659782"/>
            <inertia
                ixx="0.00310580907710135"
                ixy="1.5182848191076E-06"
                ixz="0.00041690466732394"
                iyy="0.00433798719991832"
                iyz="1.33487716258445E-05"
                izz="0.0037204727467362" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh
                    filename="package://stretch_description/meshes/base_link.STL" />
            </geometry>
            <material name="">
                <color
                    rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
            </material>
        </visual>
        <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                    filename="package://stretch_description/meshes/base_link.STL" />
            </geometry>
        </collision>
    </link>

    <gazebo reference="base_link">
        <mu1 value="0.0"/>
        <mu2 value="0.0"/>
    </gazebo>

</robot>