<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stretch_arm_l3">

    <!-- ================= Arm L3 ================= -->
    <!-- Arm l3 Link -->
    <link name="link_arm_l3">
        <inertial>
            <origin
                xyz="-3.34873468621488E-07 4.7411336306924E-07 -0.0974069598289041"
                rpy="0 0 0"/>
            <mass value="0.0626921047058405"/>
            <inertia
                ixx="0.000115246639451415"
                ixy="4.42139679831176E-14"
                ixz="1.89711279909763E-09"
                iyy="0.000115246639420046"
                iyz="-2.68592949587539E-09"
                izz="9.38270676408352E-14" />
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh
                    filename="package://stretch_description/meshes/link_arm_l3.STL" />
            </geometry>
            <material name="">
                <color
                    rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
            </material>
        </visual>
        <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                    filename="package://stretch_description/meshes/link_arm_l3.STL" />
            </geometry>
        </collision>
    </link>

    <!-- Arm l3 Joint -->
    <!-- Change to prismatic -->
    <joint name="joint_arm_l3" type="fixed">
        <origin
            xyz="0 0 0.013"
            rpy="3.5742E-16 3.2123E-16 -2.4565E-16"/>
        <parent link="link_arm_l4" />
        <child link="link_arm_l3" />
        <axis xyz="0 0 1"/>
        <!-- <limit effort="100" lower="0.0" upper="0.13" velocity="1.0"/> -->
    </joint>

    <!-- Arm l3 Transmission block for gazebo -->
    <!-- <transmission name="trans_arm_l3" type="SimpleTransmission">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="arm_l3_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="joint_arm_l3">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
    </transmission> -->

</robot>